#car-pop-mask{
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index: 999999;
    position:absolute;
    position:fixed;
    top:0;
    left:0;
}


.car-popup {
    display: block;
    width: 300px;
    padding: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all  0.20s  ease-in-out;
    transform:scale(1);
    transition: all 0.20s  ease-in-out;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    background: #fff;
    color:#555;
    box-shadow:1px 1px 1px #777;
    -webkit-box-shadow:1px 1px 1px #777;
}
.car-popup >* {
    color:inherit;
}
.car-popup a{text-decoration: none;}

.car-popup.hidden {
    opacity: 0;
    -webkit-transform: scale(0);
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

.car-popup>header{

    font-size:16px;
    margin:0;
    padding:0;
    background: #eee;
    color: #888;
    height: 30px;line-height: 30px;text-indent: 10px;
}

.car-popup>div{
    font-size:14px;
    margin:15px 10px;
    line-height: 1.8;
}

.car-popup>footer{
    width:100%;
    text-align:center;
    display:block !important;
}

.car-popup .car-popup-cancel,.car-popup .car-popup-ok{
    float:left;
    width: 50%;
    background: #EAEAEA;
    color:#555;
    height: 30px;line-height: 30px;
}

.car-popup .car-popup-ok{
    float:right;
    background: #41B1B2;
    color: #fff;
}

.car-popup a.center{
    float:none!important;
    width:100%;
    margin:auto;
    display: block;
}